@import '../global.css';

*{
    font-family: var(--font-default);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    background-color: var(--bg-color);
    box-shadow: .1px .03px 1.7px grey;
}

.LoginSearch{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.loginIcon{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.loginIcon:hover{
    color: white;
    text-decoration: underline;
}

.BiLogIn{
    font-size: 1.3rem;
}


#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    color: var(--bg-color);
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}