@import './global.css';

* {
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--secundary-bg-color);
    transition: .5s;
}

a:hover {
    color: gold;
}